@import url(//fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,700,700italic);
@import url(//fonts.googleapis.com/css?family=Changa+One:400,400italic);
body {
	background:#333335;
	color:#c0c0c0;
	font-family:'Roboto', sans-serif;
	font-size:14px;
	line-height:20px;
	min-width:1250px;
	position:relative;
}
#page-wrapper {
	background:#fff;
	overflow:hidden;
}
h1 {
	color:#2c2c2e;
	font:400 70px/70px 'Changa One', cursive;
	margin-bottom:34px;
}
h2 {
	color:#2c2c2e;
	font:400 60px/60px 'Changa One', cursive;
	margin-bottom:37px;
}
h3, #block-tm-follow-user h2 {
	color:#2c2c2e;
	font:400 36px/45px 'Roboto', sans-serif;
	letter-spacing:1px;
	margin-bottom:38px;
}
.profile h3, #block-tm-follow-user h2 {
	border-bottom:1px solid #d0d0d0;
	overflow:hidden;
	padding-bottom:5px;
}
h4 {
	color:#d0d0d0;
	font:400 24px/30px 'Roboto', sans-serif;
	letter-spacing:1px;
	margin-bottom:6px;
}
h5 {
	color:#2c2c2e;
	font:400 12px/24px 'Changa One', cursive;
	margin-bottom:15px;
}
h6 {
	color:#2c2c2e;
	font:400 14px/20px 'Roboto', sans-serif;
	margin-bottom:20px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color:inherit;
	text-decoration:none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color:#cf2550;
	text-decoration:none;
}
input[type="text"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="number"], input[type="month"], input[type="password"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], textarea, select {
	background:#fff;
	border:1px solid #d0d0d0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color:#2c2c2e !important;
	font:14px 'Roboto', sans-serif;
	max-width:100%;
	padding:18px;
}
fieldset { border-color:#d0d0d0; }
label { display:inline-block; }
#search-form .form-item { display:block; }
#user-login .form-text, #contact-site-form .form-text, .search-form .form-text { width:100%; }
#contact-site-form label { vertical-align:middle; }
a {
	color:#cf2550;
	text-decoration:none;
}
a:hover { text-decoration:underline; }
.btn a, .more-link a, input[type="submit"], input[type="reset"], ul.links li a, .view-portfolio .views-field-view-node a, #block-poll-recent ul.links li a, #filters li a, .content ul.pager li a, .content ul.pager li.pager-current, .view .date-nav-wrapper .date-prev a, .view .date-nav-wrapper .date-next a, .form-submit {
	background:none;
	border:none;
	border-radius:0;
	box-shadow:none;
	color:#2c2c2e;
	display:inline-block;
	font:400 24px/24px 'Changa One', cursive;
	letter-spacing:1px;
	outline:none;
	padding:0;
	text-decoration:none;
	text-transform:uppercase;
}
.btn a:after, .more-link a:after, .view-portfolio .views-field-view-node a:after, ul.links li a:after {
	border-color:transparent transparent transparent #2c2c2e;
	border-style:solid;
	border-width:7.5px 0 7.5px 8px;
	content:'';
	display:inline-block;
	height:0;
	margin-left:12px;
	width:0;
}
.btn a:hover:after, .more-link a:hover:after, .view-portfolio .views-field-view-node a:hover:after, ul.links li a:hover:after { border-color:transparent transparent transparent #cf2550; }
.btn a:hover, .more-link a:hover, input[type="submit"]:hover, input[type="reset"]:hover, ul.links li a:hover, .view-portfolio .views-field-view-node a:hover, #block-poll-recent ul.links li a:hover, #filters li a:hover, #filters li a.selected, .content ul.pager li a:hover, .content ul.pager li.pager-current, .view .date-nav-wrapper .date-prev a:hover, .view .date-nav-wrapper .date-next a:hover, .form-submit:hover {
	color:#cf2550;
	text-decoration:none;
}
.more-link {
	padding-top:20px;
	text-align:left;
}
ul, .item-list ul, ul.menu { margin:0 0 20px; }
ul li, .item-list ul li, ul.menu li {
	background:url(../images/list-marker.png) 0 6px no-repeat;
	list-style:none;
	margin:15px 0 0;
	padding:0 0 0 25px;
}
ul li:first-child, .item-list ul li:first-child, ul.menu li:first-child { margin-top:0; }
ul li a, .item-list ul li a, ul.menu li a {
	color:inherit;
	text-decoration:none;
}
ul li a:hover, .item-list ul li a:hover, ul.menu li a:hover {
	color:#2c2c2e;
	text-decoration:none;
}
ul li ul, .item-list ul li ul, ul.menu li ul { padding-top:15px; }
ul.tabs li, ul.flex-direction-nav li, ul.links li, ul#admin-menu-menu li, ul#admin-menu-account li, ul#admin-menu-icon li, ul.slides li, ul.contextual-links li, ul.tips li, ul.pager li, .messages.error ul li, .rate-widget ul li, ul.submitted-list li {
	background:none;
	border:none;
	font:inherit;
	margin-top:0;
	padding-left:0;
}
.messages.error ul li { list-style:disc; }
#admin-menu, #admin-menu .dropdown { z-index:10000; }
img {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	height:auto;
	max-width:100%;
}
img.lazyloader-icon { width:auto !important; }
.frame, .field-type-image, .views-field-field-image, .views-field-field-blog-media, .view-portfolio .isotope-element .views-field-field-portfolio-image, .field-name-field-blog-media, .field-name-field-image, .field-name-field-portfolio-image, .field-name-field-service-image, .field-name-field-employee-photo, .field-name-field-banner-image, .field-name-field-slide-image {
	margin-bottom:30px;
	position:relative;
}
.field-name-field-banner-image { width:250px; }
.user-picture {
	background:none;
	float:left;
	margin-right:30px;
	max-width:45%;
	padding:0;
}
.profile .user-picture {
	float:right;
	margin:0 0 0 30px;
}
p { margin-bottom:20px; }
table { margin-bottom:0; }
table tr.odd, table tr.even { border:none; }
table tr.odd { background:transparent; }
table tr.even { background:#fafafa; }
table th {
	background:#fafafa;
	border:none;
	color:#cf2550;
	font-size:14px;
	padding:5px;
}
table th a { color:inherit; }
table th a:hover {
	color:#cf2550;
	text-decoration:none;
}
table td { padding:5px; }
.extra-wrap { overflow:hidden; }
.wrapper {
	overflow:hidden;
	position:relative;
	width:100%;
}
.clearfix { position:relative; }
.clearfix:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
.fclear { clear:both; }
.separator {
	clear:both;
	height:40px;
}
.separator-top {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
.separator-bottom {
	border-bottom:0;
	margin-bottom:50px;
	padding-bottom:0;
}
.align-left { text-align:left; }
.align-center { text-align:center; }
.align-right { text-align:right; }
.highlighted { color:#cf2550; }
.region {
	position:relative;
	z-index:1;
}
.region:after {
	clear:both;
	content:'';
	display:block;
	overflow:hidden;
	width:100%;
}
.region-page-bottom { position:static; }
.video-bg { background:url(../images/ajax-loader.gif) center center no-repeat; }
.parallax-box { position:relative; }
.parallax-box .region {
	position:relative;
	z-index:9;
}
.parallax-bg {
	bottom:0;
	height:100%;
	left:0;
	overflow:hidden;
	position:absolute;
	right:0;
	top:0;
	width:100%;
}
.parallax-bg-inner {
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	max-width:none;
	position:relative;
}
::selection, ::-moz-selection {
	background:#cf2550;
	color:#fff;
	text-shadow:none;
}
img::selection, img::-moz-selection { background:transparent; }
.region-header-top { margin-bottom:30px; }
#header {
	border-bottom:1px solid #d0d0d0;
	position:relative;
	width:100%;
}
.front #header { border-bottom:none; }
.header-section-1 { padding:60px 0 55px; }
.stickup {
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	z-index:9999;
}
.isStuck {
	background:#fff;
	box-shadow:0 2px 3px 0 rgba(0,0,0,0.2);
	left:0;
	padding:15px 0;
	right:0;
	top:0;
}
.isStuck .region-menu { padding-top:30px; }
.isStuck #superfish-1 { width:100%; }
.isStuck #superfish-1 > li {
	float:left !important;
	margin:0 0 0 20px;
}
.isStuck #superfish-1 > li:first-child { margin-left:0; }
.isStuck #superfish-1 > li ul {
	left:0 !important;
	top:25px;
}
.isStuck #superfish-1 > li ul li ul {
	left:101% !important;
	top:-20px;
}
.site-name {
	color:#cf2550;
	font-size:60px;
	line-height:60px;
	margin-bottom:0;
}
.site-name a:hover {
	color:inherit;
	text-decoration:none;
}
.slogan {
	color:#2c2c2e;
	letter-spacing:3px;
	text-transform:uppercase;
}
.region-menu { padding-top:15px; }
.select-menu {
	display:none !important;
	padding:10px !important;
}
#superfish-1 {
	background:none;
	margin-bottom:0;
	max-width:100%;
	padding:0;
	width:150px;
	z-index:101;
	position:relative;
}
#superfish-1:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
#superfish-1 > li {
	background:none;
	border:0;
	float:none !important;
	font:400 14px/20px 'Roboto', sans-serif;
	letter-spacing:1px;
	margin:8px 0 0;
	overflow:inherit;
	padding:0;
	text-transform:uppercase;
}
#superfish-1 > li:first-child { margin-top:0; }
#superfish-1 > li > a {
	color:#cf2550;
	text-decoration:none;
}
#superfish-1 > li > a .sf-sub-indicator {
	background:none;
	display:inline-block;
	font:inherit;
	height:auto;
	margin-left:5px;
	overflow:visible;
	position:static;
	text-indent:0;
	width:auto;
}
#superfish-1 > li > a:hover, #superfish-1 > li.active-trail > a, #superfish-1 > li.sfHover > a {
	color:#e1e1e1;
	text-decoration:none;
}
#superfish-1 > li ul {
	background:#fff;
	display:none;
	left:101% !important;
	padding:15px 0;
	top:-15px;
	width:130px !important;
}
#superfish-1 > li ul li {
	background:none;
	border-bottom:0;
	float:none !important;
	height:auto;
	margin:8px 0 0;
	padding:0 15px;
	width:auto !important;
}
#superfish-1 > li ul li:first-child { margin-top:0; }
#superfish-1 > li ul li > a:visited, #superfish-1 > li ul li > a {
	color:#cf2550;
	text-decoration:none;
}
#superfish-1 > li ul li > a:visited .sf-sub-indicator, #superfish-1 > li ul li > a .sf-sub-indicator {
	background:none;
	display:inline-block;
	font:inherit;
	height:auto;
	margin-left:5px;
	overflow:visible;
	position:static;
	text-indent:0;
	width:auto;
}
#superfish-1 > li ul li > a:hover, #superfish-1 > li ul li.active-trail > a, #superfish-1 > li ul li.sfHover > a {
	color:#e1e1e1;
	text-decoration:none;
}
#superfish-1 > li ul li ul {
	left:101% !important;
	top:-15px;
}
#superfish-1 .sf-megamenu { width:auto !important; }
#superfish-1 .sf-megamenu > li > ol {
	vertical-align:top;
	white-space:nowrap;
}
#superfish-1 .sf-megamenu > li > ol > li {
	display:inline-block;
	margin:0 0 0 15px;
	padding:0;
	vertical-align:top;
	width:120px !important;
	white-space:normal;
}
#superfish-1 .sf-megamenu > li > ol > li:first-child { margin-left:0; }
#superfish-1 .sf-megamenu > li > ol > li a {
	color:#cf2550;
	text-decoration:none;
}
#superfish-1 .sf-megamenu > li > ol > li a:hover, #superfish-1 .sf-megamenu > li > ol > li a.active, #superfish-1 .sf-megamenu > li > ol > li.active-trail > a, #superfish-1 .sf-megamenu > li > ol > li.sfHover > a {
	color:#e1e1e1;
	text-decoration:none;
}
#superfish-1 .sf-megamenu > li > ol > li ol { padding:8px 0 0; }
#superfish-1 .sf-megamenu > li > ol > li ol li {
	display:block;
	float:none !important;
	margin-left:0;
	padding:0;
}
.flex-viewport {
	-moz-transition:none;
	-o-transition:none;
	-webkit-transition:none;
	transition:none;
}
.flexslider {
	background:none;
	border:none;
	border-radius:0;
	box-shadow:none;
	margin-bottom:0;
}
.flexslider img {
	-moz-user-select:none;
	-khtml-user-select:none;
	user-select:none;
}
.view-slider .slides li {
	-moz-user-select:none;
	-khtml-user-select:none;
	user-select:none;
	padding:0;
}
.view-slider .slides li img { width:100%; }
.view-slider .flex-control-nav {
	bottom:161px;
	font-size:0;
	left:50%;
	line-height:0;
	margin-left:15px;
	overflow:hidden;
	width:auto;
	z-index:20;
}
.view-slider .flex-control-nav li {
	display:block;
	float:left;
	margin:0 0 0 9px;
}
.view-slider .flex-control-nav li:first-child { margin-left:0; }
.view-slider .flex-control-nav li a {
	background:#cf2550;
	box-shadow:none;
	height:14px;
	width:14px;
}
.view-slider .flex-control-nav li a:hover, .view-slider .flex-control-nav li a.flex-active { background:#2c2c2e; }
.view-slider .flex-control-thumbs li {
	-moz-user-select:none;
	-khtml-user-select:none;
	user-select:none;
	width:20%;
}
.view-slider .flex-direction-nav a:before { line-height:40px; }
.view-slider:hover .flex-next {
	opacity:1;
	right:0;
}
.view-slider:hover .flex-prev {
	opacity:1;
	left:0;
}
.view-slider .flex-caption {
	bottom:244px;
	color:#cf2550;
	font:400 100px/88px 'Changa One', cursive;
	left:50%;
	margin-left:15px;
	position:absolute;
	text-transform:uppercase;
	width:570px;
	z-index:99;
}
.header_bottom_wrapper .region { padding:30px 0; }
.content_top_wrapper .region { padding:0; }
.block-donate p { margin-bottom:0; }
.block-donate .donate-link {
	background:#b81941;
	color:#fff;
	display:block;
	font:300 24px/31px 'Roboto', sans-serif;
	height:168px;
	position:relative;
	text-decoration:none;
	width:600px;
}
.block-donate .donate-link:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
.block-donate .donate-link:before {
	background:#cf2550;
	bottom:0;
	content:'';
	display:block;
	height:100%;
	left:-999em;
	position:absolute;
	right:100%;
	top:0;
}
.block-donate .donate-link .title {
	background:#cf2550;
	display:block;
	float:left;
	font:400 60px/60px 'Changa One', cursive;
	height:120px;
	padding:24px 0;
	position:relative;
	text-transform:lowercase;
	width:201px;
}
.block-donate .donate-link .title:after {
	border-color:transparent transparent transparent #cf2550;
	border-style:solid;
	border-width:84px 0 84px 69px;
	bottom:0;
	content:'';
	display:block;
	height:0;
	left:100%;
	position:absolute;
	top:0;
	width:0;
	z-index:9;
}
.block-donate .donate-link .text {
	display:block;
	float:right;
	letter-spacing:1px;
	padding:35px 0;
	width:300px;
}
.block-donate .donate-link:hover { text-decoration:none; }
.block-donate .donate-link:hover:before, .block-donate .donate-link:hover .title { background:#dedede; }
.block-donate .donate-link:hover .title:after { border-color:transparent transparent transparent #dedede; }
#main { padding:78px 0 84px; }
.region-content { padding:0; }
.views-row { margin-bottom:30px; }
.views-row.last, .views-row:last-child { margin-bottom:0; }
.panels-flexible-region-inside, .panels-flexible-column-inside {
	padding-left:0 !important;
	padding-right:0 !important;
	position:relative;
}
.panels-flexible-region-inside:after, .panels-flexible-column-inside:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
div.messages {
	margin-bottom:30px;
	margin-top:30px;
	padding-right:30px;
}
div.messages .dismiss {
	box-shadow:none;
	border-radius:2px;
	font-family:'Roboto', sans-serif;
	line-height:normal;
	padding:2px 6px 4px;
	text-transform:lowercase;
	width:auto;
}
div.messages .dismiss:hover {
	color:#fff;
	text-shadow:none;
}
#breadcrumb {
	color:#c0c0c0;
	margin-bottom:30px;
	padding:0;
}
#breadcrumb a {
	color:inherit;
	padding:0 3px;
	text-decoration:none;
}
#breadcrumb a:first-child { padding-left:0; }
#breadcrumb a:last-child { padding-right:0; }
#breadcrumb a:hover { color:#cf2550; }
.tabs-wrapper { margin:1px 0 20px; }
.tabs { overflow:hidden; }
.tabs ul.primary {
	border:0;
	border-bottom:1px solid #d0d0d0;
	margin:0 0 20px;
	overflow:hidden;
	padding:4px 0 0;
}
.tabs ul.primary li {
	display:block;
	float:left;
	margin-left:2px;
}
.tabs ul.primary li:first-child { margin-left:0; }
.tabs ul.primary li a {
	background:#fff;
	border:1px solid #d0d0d0;
	border-bottom:0;
	border-radius:3px 3px 0 0;
	color:#c0c0c0;
	display:block;
	font-size:12px;
	font-weight:normal;
	margin:0;
	overflow:hidden;
	padding:5px 15px;
	text-shadow:none;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
	-webkit-transition:all 0.1s linear;
	transition:all 0.1s linear;
}
.tabs ul.primary li.active a, .tabs ul.primary li a:hover {
	background:#cf2550;
	border-color:#c2234b;
	color:#fff;
	text-decoration:none;
}
.portfolio-filters { margin-bottom:40px; }
.tm-masonry-filter {
	margin:0;
	padding:0;
	text-align:center;
}
.tm-masonry-filter li {
	background:none;
	display:inline-block;
	padding:0;
}
.tm-masonry-filter li:before {
	background-color:#cf2550;
	bottom:3px;
	content:"";
	display:inline-block;
	height:5px;
	margin:0 10px;
	position:relative;
	width:5px;
}
.tm-masonry-filter li:first-child:before { display:none; }
.tm-masonry-filter li a {
	color:#c0c0c0;
	text-decoration:none;
}
.tm-masonry-filter li a.active, .tm-masonry-filter li a:hover { color:#cf2550; }
.tm-masonry-item { position:relative; }
.tm-masonry-item .field-type-image {
	float:none !important;
	max-width:100% !important;
	text-align:center;
	width:100% !important;
}
.tm-masonry-item .node-header {
	left:0;
	position:absolute;
	right:0;
	text-align:center;
	top:-100%;
	z-index:999;
	-moz-transition:0.6s ease;
	-o-transition:0.6s ease;
	-webkit-transition:0.6s ease;
	transition:0.6s ease;
}
.tm-masonry-item .node-title {
	font-weight:400;
	margin:0;
	position:relative;
}
.tm-masonry-item a.colorbox {
	background:#fff;
	text-align:center;
}
.tm-masonry-item a.colorbox:after {
	background:none;
	color:#000;
	content:"\f00e";
	font:30px/30px FontAwesome;
	left:51%;
	margin:-15px 0 0 0;
	position:absolute;
	top:-100%;
	z-index:999;
	-moz-transition:0.6s ease;
	-o-transition:0.6s ease;
	-webkit-transition:0.6s ease;
	transition:0.6s ease;
}
.tm-masonry-item a.colorbox:hover img { opacity:0.5; }
.tm-masonry-item .node-footer {
	margin:-15px 0 0 0;
	padding:0;
	position:absolute;
	right:51%;
	top:-100%;
	z-index:999;
	-moz-transition:0.6s ease;
	-o-transition:0.6s ease;
	-webkit-transition:0.6s ease;
	transition:0.6s ease;
}
.tm-masonry-item .node-footer .node-readmore a {
	background:none;
	color:transparent;
	font-size:0;
	line-height:0;
	padding:0;
}
.tm-masonry-item .node-footer .node-readmore a:after {
	color:#000;
	content:"\f0c1";
	font:30px/30px FontAwesome;
}
.tm-masonry-item:hover .node-footer, .tm-masonry-item:hover a.colorbox:after { top:40%; }
.tm-masonry-item:hover .node-header { top:60%; }
#block-views-services-block { color:#d0d0d0; }
#block-views-services-block .views-row { margin-bottom:35px; }
#block-views-services-block .views-row.views-row-last { margin-bottom:0; }
#block-views-services-block h6 { margin-bottom:33px; }
#block-views-services-block .views-field-field-service-image {
	float:left;
	margin-right:30px;
	padding-top:7px;
	width:70px;
}
#block-views-services-block .views-field-title { overflow:hidden; }
#block-views-services-block .views-field-body { overflow:hidden; }
.block-reports {
	color:#cf2550;
	margin-top:-168px;
}
.block-reports p {
	margin-bottom:22px;
	padding-right:60px;
}
.block-reports .frame { margin-bottom:18px; }
.block-reports .btn a {
	color:#cf2550;
	font-size:60px;
	letter-spacing:0;
	line-height:60px;
	padding-right:65px;
	position:relative;
	width:365px;
}
.block-reports .btn a:after {
	border-color:transparent transparent transparent #cf2550;
	border-style:solid;
	border-width:49px 0 49px 49px;
	content:'';
	display:block;
	height:0;
	margin-top:-43px;
	position:absolute;
	right:0;
	top:50%;
	width:0;
}
.block-reports .btn a:hover { color:#2c2c2e; }
.block-reports .btn a:hover:after { border-color:transparent transparent transparent #2c2c2e; }
#block-views-services-block-2 .views-field-field-service-image { margin-bottom:20px; }
#section_1_wrapper {
	background-color:#fbfbfb;
	background-size:cover;
}
#section_1_wrapper .region { padding:71px 0 85px; }
#block-views-articles-block h2 {
	font-size:100px;
	line-height:88px;
	text-transform:uppercase;
}
#block-views-articles-block .view-content { padding-right:60px; }
#block-views-articles-block .views-field-body-1 { margin-bottom:28px; }
#section_2_wrapper {
	background-color:#2c2c2e;
	background-size:cover;
	color:#828282;
}
#section_2_wrapper .region { padding:76px 0 81px; }
#section_2_wrapper h1, #section_2_wrapper h2, #section_2_wrapper h3, #section_2_wrapper h4, #section_2_wrapper h5, #section_2_wrapper h6 { color:#fff; }
#section_2_wrapper #block-views-testimonials-block .views-field-field-testi-author { color:#fff; }
#section_2_wrapper #block-views-testimonials-block .views-field-nothing a:before, #section_2_wrapper #block-views-testimonials-block .views-field-nothing a:after { color:#fff; }
#block-views-testimonials-block .block-title {
	margin-bottom:35px;
	text-transform:uppercase;
}
#block-views-testimonials-block .view-content { padding-right:60px; }
#block-views-testimonials-block .views-row { margin-bottom:48px; }
#block-views-testimonials-block .views-row-last { margin-bottom:0; }
#block-views-testimonials-block .views-field-nothing { margin-bottom:7px; }
#block-views-testimonials-block .views-field-nothing a { color:inherit; }
#block-views-testimonials-block .views-field-nothing a:hover {
	color:#cf2550;
	text-decoration:none;
}
#block-views-testimonials-block .views-field-nothing a:before {
	content:'“';
	display:inline-block;
	font-family:'Changa One', cursive;
	font-size:60px;
	margin-right:10px;
	vertical-align:-16px;
}
#block-views-testimonials-block .views-field-nothing a:after {
	content:'”';
	display:inline-block;
	font-family:'Changa One', cursive;
	font-size:60px;
	margin-left:10px;
	vertical-align:-30px;
}
#block-views-testimonials-block .views-field-field-testi-author {
	font-size:24px;
	letter-spacing:1px;
	line-height:30px;
}
#section_3_wrapper { background-color:#fbfbfb; }
#section_3_wrapper .region { padding:77px 0; }
#block-views-articles-block-1 .views-row { margin-bottom:0; }
#block-views-articles-block-1 .views-field-body-1 { margin-bottom:25px; }
.content_bottom_wrapper {
	background-color:#2c2c2e;
	color:#828282;
}
.content_bottom_wrapper .region { padding:76px 0 84px; }
.content_bottom_wrapper h1, .content_bottom_wrapper h2, .content_bottom_wrapper h3, .content_bottom_wrapper h5, .content_bottom_wrapper h6 { color:#fff; }
.content_bottom_wrapper h2 { text-transform:uppercase; }
.content_bottom_wrapper h4 {
	color:#828282;
	font-family:'Changa One', cursive;
	line-height:24px;
	margin-bottom:25px;
	text-transform:uppercase;
}
.content_bottom_wrapper h4 a:hover { color:#fff; }
.content_bottom_wrapper ul li { background-image:url(../images/list-marker-light.png); }
.content_bottom_wrapper ul li a { color:#fff; }
.content_bottom_wrapper ul li a:hover { color:#cf2550; }
#block-views-services-block-1 .views-row { margin-bottom:0; }
#block-views-services-block-1 .views-field-title { padding-right:15px; }
#block-views-services-block-1 .views-field-field-service-image { margin-bottom:27px; }
#block-views-services-block-1 .views-field-body { padding-right:30px; }
#isotope-container {
	margin-left:-15px;
	margin-right:-15px;
}
.isotope-element {
	background:#fafafa;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color:inherit;
	margin:0 15px 30px;
	height:auto;
	overflow:visible;
	padding:0 20px 35px;
	position:relative;
	width:auto;
}
.isotope-element .views-field-field-portfolio-image {
	background:url(../images/ajax-loader.gif) center center no-repeat #fff;
	margin:0 -20px 25px;
}
.isotope-element .views-field-body { margin-bottom:25px; }
.isotope-element .views-field-field-portfolio-image a {
	background:#000;
	display:block;
	overflow:hidden;
	position:relative;
	text-decoration:none;
}
.isotope-element .views-field-field-portfolio-image a:after {
	background:none;
	color:#fff;
	content:"\f00e";
	font:80px/80px FontAwesome;
	left:50%;
	margin:-40px 0 0 -40px;
	position:absolute;
	top:-100%;
	z-index:999;
}
.isotope-element .views-field-field-portfolio-image a:hover img { opacity:.5; }
.isotope-element .views-field-field-portfolio-image a:hover:after { top:50%; }
.isotope-element .views-field-field-portfolio-image img {
	-moz-transition:.2s ease;
	-o-transition:.2s ease;
	-webkit-transition:.2s ease;
	transition:.2s ease;
	width:100%;
}
#isotope-options { background:none; }
#isotope-options #filters {
	margin-bottom:20px;
	text-align:right;
}
#isotope-options #filters li {
	background:none;
	display:inline-block;
	margin-left:20px;
	margin-bottom:10px;
	padding:0;
}
#isotope-options #filters li:first-child { margin-left:0; }
.field-name-field-portfolio-category ul {
	float:left;
	overflow:hidden;
}
.field-name-field-portfolio-category ul:before {
	content:"\f02e";
	display:block;
	float:left;
	font-family:fontAwesome;
	margin-right:4px;
}
.page-blog .content-header ul { margin-bottom:0; }
.page-blog .content-header ul li {
	background:none;
	padding:0;
}
.node {
	border-top:1px solid #d0d0d0;
	margin-top:35px;
	padding-top:35px;
}
.node:first-child {
	background:none;
	border-top:0;
	margin-top:0;
	padding-top:0;
}
.term-listing-heading + .node {
	background:none;
	border-top:0;
	margin-top:0;
	padding-top:0;
}
.node-header { margin-bottom:25px; }
.node-submitted {
	color:#cf2550;
	margin:0;
}
.node-submitted .node-author {
	background:url(../images/icon-user.png) 0 0 no-repeat;
	display:inline-block;
	padding-left:24px;
}
.node-submitted .node-comments {
	background:url(../images/icon-comments.png) 0 1px no-repeat;
	display:inline-block;
	float:right;
	padding-left:34px;
}
.node-submitted a:hover {
	color:#c0c0c0;
	text-decoration:none;
}
.node-teaser .field-type-file, .node-teaser .field-type-image { margin-bottom:25px; }
.node-employee .field-type-image {
	float:left;
	margin:0 20px 10px 0;
	max-width:45%;
	width:220px;
}
.media-vimeo-video { padding-bottom:50.2%; }
.node-teaser .media-vimeo-video { padding-bottom:63.2%; }
.media-youtube-video { padding-bottom:50.2%; }
.node-teaser .media-youtube-video { padding-bottom:63.2%; }
.media-vimeo-video, .media-youtube-video {
	height:0;
	overflow:hidden;
	padding-top:30px;
	position:relative;
}
.media-vimeo-video iframe, .media-youtube-video iframe {
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
}
.node-teaser  p:last-child { margin-bottom:0; }
.links { list-style:none; }
.links li {
	display:inline-block !important;
	margin-bottom:5px !important;
	margin-right:30px;
	padding-right:0 !important;
}
.content ul.pager {
	border-top:1px solid #d0d0d0;
	margin-top:35px;
	padding-top:35px;
	text-align:left;
}
.content ul.pager li {
	display:inline-block;
	margin:0 23px 5px 0;
	padding:0;
}
.content ul.pager li:last-child { margin-right:0; }
.node-footer { padding-top:30px; }
.node-footer .field-name-field-tags { padding-top:20px; }
.node-footer .field-name-field-tags .field-label {
	background:none;
	float:left;
	font:inherit;
	font-weight:bold;
	margin-right:15px;
	padding:0;
	text-shadow:none;
	text-transform:none;
}
.node-footer .field-name-field-tags .field-items {
	overflow:hidden;
	padding-bottom:15px;
	width:100%;
}
.node-footer .field-name-field-tags ul li {
	float:left;
	margin:0 0 5px 10px;
}
.node-footer .field-name-field-tags ul li:first-child { margin-left:0; }
.node-footer .field-name-field-tags ul li a {
	font:inherit;
	font-weight:bold;
	padding:2px 8px;
}
.field-name-field-blog-tags ul {
	float:left;
	overflow:hidden;
}
.field-name-field-blog-tags ul:before {
	content:"\f02c";
	display:block;
	float:left;
	font-family:fontAwesome;
	margin-right:4px;
}
.addthis_button_compact { margin:0; }
.likebtn_container { padding-top:4px; }
#comments {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
#comments .indented { margin-left:40px; }
.comment {
	background:#fafafa;
	border:none;
	margin-bottom:20px;
	padding:25px;
}
.comment .comment-title { overflow:hidden; }
.comment .comment-submitted {
	background:url(../images/icon-user.png) 0 0 no-repeat;
	color:#cf2550;
	margin:0 0 21px;
	overflow:hidden;
	padding-left:24px;
}
.comment .comment-submitted a:hover {
	color:#c0c0c0;
	text-decoration:none;
}
.comment .comment-content { margin-bottom:20px; }
.comment .comment-footer { padding:0; }
#comment-form-wrapper {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
#comment-form .form-item {
	margin:0 0 15px;
	overflow:hidden;
	width:100%;
}
#comment-form label {
	font-weight:normal;
	vertical-align:middle;
}
#comment-form .form-type-item label {
	float:left;
	padding-right:10px;
}
#comment-form .form-text { width:100%; }
#comment-form .form-textarea {
	height:200px;
	width:100%;
}
#comment-form .filter-wrapper {
	border:none;
	padding:0;
}
#comment-form .filter-wrapper .fieldset-wrapper > * { padding:0; }
#comment-form .filter-wrapper .filter-help { padding-top:15px; }
#comment-form .filter-wrapper .filter-help a {
	background:none;
	display:inline-block;
	padding:0;
}
#comment-form .filter-wrapper .form-item { width:auto; }
#comment-form .filter-wrapper label {
	display:inline-block;
	margin-right:15px;
}
#comment-form .form-actions {
	margin:0;
	padding-top:20px;
}
#comment-form .form-actions #edit-submit { margin-right:30px; }
#edit-comment-body-und-0-format-guidelines { clear:both; }
#edit-comment-body-und-0-format-guidelines ul { font:inherit; }
#edit-comment-body-und-0-format-guidelines ul li {
	background:none;
	overflow:hidden;
	margin:0;
	padding:0;
	width:100%;
}
.panels-flexible-region-11-contacts, .panels-flexible-region-11-center {
	float:none;
	width:100% !important;
}
.contact-form .form-item {
	margin-top:0 !important;
	position:relative;
}
.contact-form input[type="text"], .contact-form textarea {
	position:relative;
	z-index:20;
}
.contact-form input[type="text"].error, .contact-form textarea.error {
	border-color:#f8b9b7 !important;
	border-width:1px;
	box-shadow:0 0 8px #f8b9b7 !important;
}
.contact-form textarea { min-height:145px; }
.contact-form .form-type-textfield {
	float:left;
	margin-bottom:30px !important;
	margin-left:5%;
	width:30%;
}
.contact-form .form-type-textfield:first-child { margin-left:0; }
.contact-form .form-type-textarea { clear:both; }
.contact-form div.error-message {
	background:#ec7b7b;
	bottom:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color:#fff;
	cursor:pointer;
	display:block;
	font-size:13px;
	font-weight:normal;
	left:0;
	line-height:16px;
	margin:0 0 5px;
	max-width:100%;
	opacity:0;
	padding:3px 5px;
	position:absolute;
	-moz-transition:.4s ease;
	-o-transition:.4s ease;
	-webkit-transition:.4s ease;
	transition:.4s ease;
	z-index:-999;
}
.contact-form div.error-message:after {
	content:'';
	position:absolute;
	left:10px;
	bottom:-5px;
	border-top:5px solid #ec7b7b;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
}
.contact-form .error ~ div.error-message {
	opacity:1;
	-webkit-animation-duration:.6s;
	animation-duration:.6s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-name:fadeIn;
	animation-name:fadeIn;
	z-index:999;
}
.contact-form input[type="reset"] { margin-right:10px; }
.contact-form .form-actions { display:inline-block; }
#contact-personal-form .form-type-textfield {
	float:none;
	margin-bottom:30px !important;
	margin-left:0;
	width:100%;
}
#contact-personal-form .form-type-textfield input[type="text"] { display:block; }
.action-links {
	overflow:hidden;
	padding:0 0 25px;
}
.action-links li {
	float:left;
	margin-left:10px;
}
.action-links li:first-child { margin-left:0; }
.action-links li a { font-weight:bold; }
#forum table td.topics, #forum table td.posts, #forum table td.replies { text-align:center; }
#forum table td.container { font-weight:bold; }
#forum table .description { margin:0; }
#forum table .indent { margin:0; }
#forum table .name { overflow:hidden; }
#forum table .description { clear:both; }
.field-name-taxonomy-forums, .field-type-taxonomy-term-reference {
	overflow:hidden;
	padding-top:20px;
	width:100%;
}
.field-name-taxonomy-forums.field-label-above, .field-type-taxonomy-term-reference.field-label-above { padding-top:0; }
.field-name-taxonomy-forums .field-label, .field-type-taxonomy-term-reference .field-label {
	background:none;
	font:inherit;
	font-weight:bold;
	margin:0;
	text-shadow:none;
	text-transform:uppercase;
}
.field-name-taxonomy-forums ul.links, .field-type-taxonomy-term-reference ul.links { margin-bottom:0; }
.field-name-taxonomy-forums ul.links li, .field-type-taxonomy-term-reference ul.links li {
	float:left;
	margin:0 0 5px;
}
.field-name-taxonomy-forums ul.links li:before, .field-type-taxonomy-term-reference ul.links li:before { content:', '; }
.field-name-taxonomy-forums ul.links li:first-child, .field-type-taxonomy-term-reference ul.links li:first-child { margin-left:0; }
.field-name-taxonomy-forums ul.links li:first-child:before, .field-type-taxonomy-term-reference ul.links li:first-child:before { content:''; }
.field-name-taxonomy-forums ul.links li a, .field-type-taxonomy-term-reference ul.links li a {
	background:none;
	border:none;
	box-shadow:none;
	color:#cf2550;
	display:inline;
	font:inherit;
	padding:0;
	text-shadow:none;
	text-transform:none;
}
.field-name-taxonomy-forums ul.links li a:hover, .field-type-taxonomy-term-reference ul.links li a:hover {
	background:none;
	text-decoration:underline;
}
.field-name-taxonomy-forums ul.links li a:after, .field-type-taxonomy-term-reference ul.links li a:after { display:none; }
.page-forum- #main-wrapper .active img {
	padding:0;
	background:0;
	border:none;
	margin-left:5px;
	margin-top:4px;
}
.page-page-404 .panel-col-first {
	color:#cf2550;
	font:bold 250px/200px 'Roboto', sans-serif;
	text-align:center;
}
.panel-2col .panel-col-first .inside { margin:0 20px 0 0; }
.panel-2col .panel-2col .panel-col-last .inside { margin:0 0 0 20px; }
.page-testimonials .view-display-id-page .views-row { margin-top:30px; }
.page-testimonials .view-display-id-page .views-row:first-child { margin-top:0; }
.page-testimonials .view-display-id-page .views-field-field-testi-image {
	float:left;
	margin:0 20px 0 0;
	max-width:45%;
	width:80px;
}
.page-testimonials .view-display-id-page .views-field-nothing { margin-bottom:10px; }
.page-testimonials .view-display-id-page .views-field-nothing p { margin-bottom:0; }
.page-testimonials .view-display-id-page .views-field-nothing a { color:inherit; }
.page-testimonials .view-display-id-page .views-field-nothing a:hover {
	color:#cf2550;
	text-decoration:none;
}
.page-testimonials .view-display-id-page .views-field-field-testi-author, .page-testimonials .view-display-id-page .views-field-field-testi-author-info { text-align:right; }
.field-name-field-testi-image {
	float:left;
	margin:0 20px 10px 0;
	max-width:45%;
}
.field-name-field-testi-author { font-weight:bold; }
.view-archive .field-name-body { margin-bottom:20px; }
.view-archive .views-row { margin-top:40px; }
.view-archive .views-row:first-child { margin-top:0; }
.view-archive .field-name-taxonomy-forums { padding-top:0; }
.view-FAQs.view-id-FAQs .views-row { margin-top:30px; }
.view-FAQs.view-id-FAQs .views-row:first-child { margin-top:0; }
.compose-tips .filter-type { margin-top:40px; }
.compose-tips .filter-type:first-child { margin-top:0; }
.view-comments-recent.view-display-id-page .views-row { margin-top:30px; }
.view-comments-recent.view-display-id-page .views-row:first-child { margin-top:0; }
.field-name-field-employee-position {
	color:#cf2550;
	font-size:15px;
	line-height:20px;
	margin-bottom:5px;
}
.field-name-field-employee-facebook { margin-left:0; }
.field-name-field-employee-facebook, .field-name-field-employee-twitter, .field-name-field-employee-google-plus {
	display:inline-block;
	margin-right:5px;
}
.employee-social-link {
	border:1px solid #cf2550;
	border-radius:50%;
	color:transparent;
	display:block;
	font-size:0;
	height:28px;
	line-height:0;
	text-align:center;
	text-decoration:none;
	width:28px;
}
.employee-social-link:before {
	color:#cf2550;
	font-size:16px;
	line-height:28px;
}
.employee-social-link:hover { border-color:#c0c0c0; }
.employee-social-link:hover:before { color:#c0c0c0; }
.node-type-employee .field-name-body { padding-top:20px; }
.sidebar { position:relative; }
.sidebar .block {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
.sidebar .block:first-child {
	border-top:0 !important;
	margin-top:0 !important;
	padding-top:0 !important;
}
.field-label-inline .field-label, .field-label-inline .field-items { max-width:100%; }
.not-logged-in .contextual-links { display:none !important; }
.contextual-links li {
	color:#c0c0c0 !important;
	font-size:14px !important;
	line-height:20px !important;
}
.calendar-calendar table, .calendar-calendar table td, .calendar-calendar table th, .calendar-calendar .month-view .full th.days { border:1px solid #d0d0d0; }
.calendar-calendar td.calendar-agenda-items, .calendar-calendar .month-view .full td.single-day .calendar-empty, .calendar-calendar .month-view .full td.single-day.empty, .calendar-calendar .month-view .full td.date-box.empty { border-color:#d0d0d0; }
.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
	background-color:transparent;
	color:#cf2550;
	font-weight:bold;
}
.calendar-calendar th.days {
	background:#fafafa;
	border:none;
	color:#c0c0c0;
}
.calendar-calendar td { text-align:center; }
.calendar-calendar td .inner div, .calendar-calendar td .inner div a { background:none; }
.calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview { background:#fafafa; }
.calendar-calendar .day-view .full td .inner div.calendar .views-field-created {
	color:#c0c0c0;
	float:left;
	width:50px;
}
.calendar-calendar .day-view .full td .inner div.calendar .views-field-title { overflow:hidden; }
.calendar-calendar .month-view .full tr td.single-day.today, .calendar-calendar .month-view .full td.date-box.today { border-color:#cf2550; }
.view-Calendar .pager .date-prev, .view-Calendar .pager .date-next, .view .date-nav-wrapper .date-prev, .view .date-nav-wrapper .date-next {
	background:none;
	border-radius:0;
	line-height:0;
	padding:0;
	top:6px;
}
.view-Calendar .pager .date-prev a, .view-Calendar .pager .date-next a, .view .date-nav-wrapper .date-prev a, .view .date-nav-wrapper .date-next a {
	background:#c0c0c0;
	color:transparent;
	display:block;
	font-size:0;
	height:22px;
	line-height:0;
	margin:0;
	padding:0;
	position:relative;
	text-align:center;
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	transition:all 0.6s ease;
	width:22px;
}
.view-Calendar .pager .date-prev a:before, .view-Calendar .pager .date-next a:before, .view .date-nav-wrapper .date-prev a:before, .view .date-nav-wrapper .date-next a:before {
	color:#fff;
	font-family:FontAwesome;
	font-size:12px;
	font-weight:normal;
	left:50%;
	line-height:22px;
	margin-left:-5px;
	margin-top:-11px;
	position:absolute;
	top:50%;
}
.view-Calendar .pager .date-prev a:hover, .view-Calendar .pager .date-next a:hover, .view .date-nav-wrapper .date-prev a:hover, .view .date-nav-wrapper .date-next a:hover { background:#cf2550; }
.view .date-nav-wrapper .date-prev { right:auto; }
.view .date-nav-wrapper .date-prev a:before { content:"\f060"; }
.view .date-nav-wrapper .date-next a:before { content:"\f061"; }
table .mini-day-on a { text-decoration:none; }
table .mini-day-on a:hover { text-decoration:underline; }
.sidebar #isotope-options #filters { text-align:left; }
.sidebar #isotope-options #filters li { margin:0 10px 5px 0; }
.pannel-map { margin-bottom:30px !important; }
.gmap #gmap1 { height:480px; }
.gmap #gmap1 img { max-width:inherit; }
#block-views-our-team-block .views-row {
	margin-bottom:0;
	margin-top:20px;
	overflow:hidden;
}
#block-views-our-team-block .views-row.views-row.views-row-first { margin-top:0; }
#block-views-our-team-block .views-row .views-field-field-employee-photo {
	width:100px;
	float:left;
	margin-right:15px;
}
#block-views-our-team-block .views-row .views-field-body { margin-bottom:0; }
.poll .total, .poll .title { margin-bottom:15px; }
.poll .bar {
	background-color:#fff;
	border:1px solid #d0d0d0;
	height:20px;
	margin-bottom:15px;
	padding:1px;
}
.poll .bar .foreground {
	background-color:#cf2550;
	display:none;
	height:20px;
}
.poll .percent { float:right; }
.poll .vote-form {
	text-align:left;
	padding-bottom:15px;
}
.poll .vote-form .choices { width:100%; }
#block-poll-recent ul.links li {
	background:none;
	padding-left:0;
}
#block-views-comments-recent-block .views-row { margin-top:20px; }
#block-views-comments-recent-block .views-row:first-child { margin-top:0; }
#block-views-comments-recent-block .views-field-subject a { color:inherit; }
#block-views-comments-recent-block .views-field-subject a:hover {
	color:#cf2550;
	text-decoration:none;
}
.contextual-links-region .node-title a { color:inherit; }
.contextual-links-region .node-title a:hover {
	color:#cf2550;
	text-decoration:none;
}
#block-views-recent-posts-block .views-row { margin-top:35px; }
#block-views-recent-posts-block .views-row:first-child { margin-top:0; }
#block-views-recent-posts-block .views-field-title { overflow:hidden; }
#block-views-recent-posts-block .views-field-created {
	padding-left:100px;
	color:#cf2550;
}
#block-views-recent-posts-block .views-field-body {
	padding-left:100px;
	padding-top:23px;
}
#search-block-form .element-invisible, [id^="search-block-form"] .element-invisible { display:none !important; }
#search-block-form .container-inline, [id^="search-block-form"] .container-inline {
	border:1px solid #d0d0d0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
}
#search-block-form .form-item-search-block-form, [id^="search-block-form"] .form-item-search-block-form {
	display:block;
	margin:0 60px 0 0;
}
#search-block-form input.form-text, [id^="search-block-form"] input.form-text {
	background:none;
	border:none;
	display:block;
	margin:0;
	width:100%;
}
#search-block-form [id^=edit-actions], [id^="search-block-form"] [id^=edit-actions] { z-index:1; }
#search-block-form [id^=edit-actions]:after, [id^="search-block-form"] [id^=edit-actions]:after {
	color:#c0c0c0;
	content:"\f002";
	cursor:pointer;
	font:20px/30px FontAwesome;
	margin-top:-16px;
	position:absolute;
	right:0;
	text-align:center;
	top:50%;
	width:60px;
	z-index:1;
}
#search-block-form [id^=edit-actions]:hover:after, [id^="search-block-form"] [id^=edit-actions]:hover:after { color:#cf2550; }
#search-block-form .form-submit, [id^="search-block-form"] .form-submit {
	background:none;
	border:none;
	border-radius:0;
	bottom:0;
	box-shadow:none;
	color:transparent;
	cursor:pointer;
	display:block;
	font-size:0;
	line-height:0;
	margin:0 !important;
	padding:0;
	position:absolute;
	right:0;
	top:0;
	width:60px;
	z-index:2;
}
.block-simple-subscription-subscribe input[type="text"] { width:100%; }
.block-cctags .block-content a { text-decoration:underline; }
.block-cctags .block-content a:hover { text-decoration:none; }
.progressbar .progressbar-wrap { background:#d0d0d0; }
.progressbar .progressbar-background { background:#cf2550; }
.footer_top_wrapper .region { padding:30px 0; }
#footer {
	background:#333335;
	clear:both;
	color:#565656;
	padding:0;
	position:relative;
}
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 { color:#575757; }
#footer h1 a:hover, #footer h2 a:hover, #footer h3 a:hover, #footer h4 a:hover, #footer h5 a:hover, #footer h6 a:hover { color:#fff; }
.region-footer {
	letter-spacing:1px;
	padding:79px 0 145px;
	text-transform:uppercase;
}
.region-footer .block-contacts { padding-top:5px; }
.region-footer .block-contacts a {
	color:inherit;
	text-decoration:underline;
}
.region-footer .block-contacts a:hover { text-decoration:none; }
.region-footer #block-simple-subscription-subscribe { padding-top:3px; }
.region-footer #block-simple-subscription-subscribe .block-title {
	font-size:24px;
	letter-spacing:2px;
	line-height:24px;
	margin-bottom:19px;
}
.region-footer #simple-subscription-form {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	background:#2c2c2e;
	max-width:100%;
	padding-right:52px;
	position:relative;
	width:270px;
}
.region-footer #simple-subscription-form .form-type-textfield { margin:0; }
.region-footer #simple-subscription-form input[type="text"] {
	background:none;
	border:none;
	color:#565656 !important;
	font-style:normal;
	padding:11px 15px 12px;
}
.region-footer #simple-subscription-form input[type="submit"] {
	background:url(../images/newsletter-btn.png) center top no-repeat;
	color:transparent;
	font-size:0;
	height:18px;
	line-height:0;
	position:absolute;
	right:12px;
	top:11px;
	width:28px;
}
.region-footer #simple-subscription-form input[type="submit"]:hover { background-position:center -18px; }
.block-contacts p { margin-bottom:12px; }
.block-contacts .phone {
	font:400 24px/24px 'Changa One', cursive;
	letter-spacing:2px;
}
.footer-menu .content ul {
	margin:0;
	overflow:hidden;
}
.footer-menu .content ul li {
	background:none;
	float:left;
	margin:0 0 0 10px;
	padding:0;
}
.footer-menu .content ul li:first-child { margin-left:0; }
.footer-menu .content ul li a {
	color:inherit;
	text-decoration:none;
}
.footer-menu .content ul li a:hover, .footer-menu .content ul li a.active {
	color:#cf2550;
	text-decoration:none;
}
.block-copyright {
	color:#4b4949;
	letter-spacing:3px;
}
.block-copyright .sitename {
	color:#575757;
	font:400 60px/60px 'Changa One', cursive;
	letter-spacing:0;
	text-transform:none;
}
.block-copyright a { color:inherit; }
.block-copyright a:hover {
	color:#cf2550;
	text-decoration:none;
}
#backtotop {
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	background:none;
	border-radius:50%;
	bottom:100px;
	box-shadow:0 0 0 4px #cf2550;
	color:transparent;
	font-size:0;
	line-height:0;
	margin-right:0 !important;
	opacity:1 !important;
	padding:3px 0 7px;
	position:fixed;
	right:40px !important;
	text-align:center;
	text-decoration:none;
	width:70px;
	z-index:999;
}
#backtotop:before {
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
	background:#cf2550;
	border-radius:50%;
	content:'';
	height:100%;
	left:-2px;
	opacity:1;
	padding:2px;
	pointer-events:none;
	position:absolute;
	top:-2px;
	transition:transform 0.2s, opacity 0.3s;
	-moz-transition:-moz-transform 0.2s, opacity 0.3s;
	-webkit-transition:-webkit-transform 0.2s, opacity 0.3s;
	width:100%;
	z-index:-1;
}
#backtotop:after {
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	color:#fff;
	content:"\f077";
	font:normal 40px/60px FontAwesome;
}
#backtotop:hover { box-shadow:0 0 0 4px #c0c0c0; }
#backtotop:hover:before {
	-webkit-transform:scale(1.3);
	-moz-transform:scale(1.3);
	-ms-transform:scale(1.3);
	transform:scale(1.3);
	opacity:0;
}
#backtotop:hover:after { color:#c0c0c0; }
.switcher {
	cursor:pointer;
	margin-top:10px;
	font-size:11px;
}
.switcher:hover { text-decoration:underline; }
.region-page-bottom pre { padding:0 !important; }


/*-----------------------*/
@font-face {
    font-family:'MyriadPro-Bold';
    src: url('../fonts/MyriadPro-Bold_gdi.eot');
    src: url('../fonts/MyriadPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Bold_gdi.woff') format('woff'),
    url('../fonts/MyriadPro-Bold_gdi.ttf') format('truetype'),
    url('../fonts/MyriadPro-Bold_gdi.svg#MyriadPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family:'MyriadPro-Semibold';
    src: url('../fonts/MyriadPro-Semibold_gdi.eot');
    src: url('../fonts/MyriadPro-Semibold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Semibold_gdi.woff') format('woff'),
    url('../fonts/MyriadPro-Semibold_gdi.ttf') format('truetype'),
    url('../fonts/MyriadPro-Semibold_gdi.svg#MyriadPro-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}
@font-face {
    font-family:'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular_gdi.eot');
    src: url('../fonts/MyriadPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular_gdi.woff') format('woff'),
    url('../fonts/MyriadPro-Regular_gdi.ttf') format('truetype'),
    url('../fonts/MyriadPro-Regular_gdi.svg#MyriadPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}


.logonewwrapper{ width: 100%!important;}

.logonewwrapper .logo{ width: 262px; float: right; position: relative; z-index: 99;}

.logonewwrapper .logo img{ width: 100%;}

.logonewwrapper .newh2text {

    float: left;
    font-size: 36px;
    font-family:'MyriadPro-Bold'; font-style: italic;
    width: 850px; color: #d1204d;
}

.bannertextcon_wrapper{ width: 100%; position: absolute; left: 0;   top: 200px;}

.bannertextcon_wrapper .bannertextcon{ width: 340px; float: right;	font-family:'MyriadPro-Semibold'; font-size: 36px; color: #f26f72; text-align: right;  line-height: 40px;}

.bannertextcon_wrapper .bannertextcon span{ font-size: 24px; color: #000000;     font-family:'MyriadPro-Regular'; font-style: italic;}


.bannerslider{ width: 100%; position: absolute; top: 210px;}




 .bannerbottomwrapper {
     margin-top: 336px;
background: #bb143e none repeat scroll 0 0;

    position: relative;
    width: 100%;
    z-index: 99;
}
 .bannerbottomwrapper .bannerbottom_teaxt1{ width: 65%; float: left; background: #d2204d;  height: 158px;}

.bannerbottomwrapper .bannerbottom_teaxt1:hover{ background: #393939;}

.bannerbottomwrapper .bannerbottom_teaxt1::before {
    border-color: transparent transparent transparent #d2214e;
    border-style: solid;
    border-width: 78px 0 80px 59px;
    content: "";
    display: block;
    height: 0;
    margin-top: 0px;
    position: absolute;
    left: 65%;
    top: 0%;
    width: 0;
}

.bannerbottomwrapper .bannerbottom_teaxt1:hover::before{ border-color: transparent transparent transparent #393939;}
.bannerbottomwrapper .bannerbottom_teaxt1 h2 {
    color: #e8bbbc;
    float: right;
    font-family: "MyriadPro-Regular";
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    padding: 40px 50px 0px 26px;
    text-align: right;
    width: 80%;
}

.bannerbottomwrapper .bannerbottom_teaxt2{ width: 35%; float: right; height: 158px;}

.bannerbottomwrapper .bannerbottom_teaxt2 h3{ text-align: center; margin: 0; padding: 40px 16px 0 16px; font-size: 30px; line-height: 36px; color: #f3b4b6; font-family:'MyriadPro-Bold';}

.missionh6text{ font-size: 24px; color: #000000; font-family:'MyriadPro-Regular'; line-height: 30px;}

.missionimgclass{ margin-top: 156px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;}


.pagefooter{ background: #797979; padding: 25px 0;}

.pagefooter .footerlogo{ width: 245px; float: left; border-right: 4px solid #848282; padding: 5px 30px 5px 0px; }

.pagefooter .formphon{ width: 350px; float: left; padding: 0px 15px 0 15px; text-align: left;   font-family: "Changa One",cursive; font-size: 20px;
    letter-spacing: 2px; color: #cf2550; line-height: 36px;  }

.pagefooter .formphon .footericonblock img{ display:inline-block; margin: 10px 5px 0 0; filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(60%);
    -webkit-transition: all .6s ease; border-radius: 100px; border: solid 1px #848282; }


.pagefooter .formphon .footericonblock img:hover{    filter: none;
    -webkit-filter: grayscale(0%); border: none; padding: 1px;}

.pagefooter .formphon a{ text-decoration:none;}

.pagefooter .formphon span{ color:#333335; }

.pagefooter .footerformgroup{ width: 523px; float: right;}

.pagefooter .footerformgroup h4{ font-family: "Changa One",cursive;  font-size: 24px;
    letter-spacing: 2px; color: #cf2550; margin: 0 0 10px 0px; padding: 0;}


.pagefooter .footerformgroup .form-group1{ width:170px; float: left; margin: 0 4px 6px 0 }


.pagefooter .footerformgroup .form-group2{ width:519px;  margin: 0 2px 5px 0px }

.pagefooter .footerformgroup .form-text1{ width: 100%; height: 50px;     font-family: "MyriadPro-Regular"; background: #343333; color: #d4d4d4!important; border:none;  padding: 10px;
}

.pagefooter .footerformgroup .form-text2{ width: 100%; height: 140px;     font-family: "MyriadPro-Regular"; background: #343333; color: #d4d4d4!important; resize: none; border:none;  padding: 10px;
}

.pagefooter .footerformgroup .formsendbtn{ color: #cf2550; font-size: 26px; margin-top: 6px;   }

.footercopyright{ background: #333335; padding: 18px 10px; text-align: center;  font-family: "MyriadPro-Regular";  color: #cf2550;}

.pagefooter .footerformgroup ::-webkit-input-placeholder {
    color: #d4d4d4!important; opacity: 1px!important;
}

.pagefooter .footerformgroup :-moz-placeholder { /* Firefox 18- */
    color: #d4d4d4!important; opacity: 1px!important;
}

.pagefooter .footerformgroup ::-moz-placeholder {  /* Firefox 19+ */
    color: #d4d4d4!important; opacity: 1px!important;
}

.pagefooter .footerformgroup :-ms-input-placeholder {
    color: #d4d4d4!important; opacity: 1px!important;
}

.bannernewimg{ height:500px; width:auto;}




@media screen and (max-width:1250px) {

.logonewwrapper .newh2text {
font-size: 28px;
  width: 684px;
}

.pagefooter .formphon{ width:220px;}

.pagefooter .container-12 {
    width: 1060px;
}

.bannerbottomwrapper .bannerbottom_teaxt1{ width:55%;}

.bannerbottomwrapper .bannerbottom_teaxt1::before { left:55%;}
.bannerbottomwrapper .bannerbottom_teaxt2{ width:45%;}

.bannerbottomwrapper .bannerbottom_teaxt1 h2{font-size: 20px;
    line-height: 32px;    padding: 43px 50px 0 26px;
 
    width: 90%;}
}

@media screen and (max-width:1100px) {

.pagefooter .footerlogo{ float:none; display:block; margin:0 auto; border:none; padding:0;}

.pagefooter .formphon{ width:100%; text-align:center; margin:10px auto; margin-top:25px; padding:0;}

.footericonblock{ text-align:center;}

.pagefooter .footerformgroup { float:none; margin:0 auto;}
.pagefooter .container-12 {
    width: 100%; padding:0px;
}
}

@media screen and (max-width:998px) {

.container-12{ width:100%;}

.logonewwrapper .newh2text {
    font-size: 36px;
    line-height: 38px;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.logonewwrapper .logo{ float:none; display:block; margin:10px auto;}

.bannerslider{ width: 100%; position: inherit; top: 0;}
.bannernewimg{ height:auto; width:100%;}

.bannertextcon_wrapper {
    left: 0;
    position: inherit;
    top: 0;
    width: 100%;
    margin-top: 40px;
}
.bannertextcon_wrapper .bannertextcon {
    color: #f26f72;
    float: none;
    font-family: "MyriadPro-Semibold";
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    width: 100%;
}
 .bannerbottomwrapper {
     margin-top: 30px; height:auto

}


.bannerbottomwrapper .bannerbottom_teaxt1{ width: 100%; float: none; background: #d2204d;  height: auto;}

.bannerbottomwrapper .bannerbottom_teaxt1:hover{ background: #393939;}

.bannerbottomwrapper .bannerbottom_teaxt1::before { border:none;
    content: "";

}


.bannerbottomwrapper .bannerbottom_teaxt1 h2 {
    color: #e8bbbc;
    float: none;
    font-family: "MyriadPro-Regular";
    font-size: 30px;
    line-height: 36px;
    margin: 0 auto;
    padding:20px;
    text-align: center;
    width: 90%;
}

.bannerbottomwrapper .bannerbottom_teaxt2{ width: 90%;    margin: 0 auto; float: none; height: auto;}

.bannerbottomwrapper .bannerbottom_teaxt2 h3{ text-align:center; padding:20px;}

.container-12 .suffix-1 {
    margin: 0;
    padding-right: 0; text-align: center;   width: 100%!important;
}
.container-12 .grid-5 {
    width: 100%;
}



.missionimgclass{ display:block!important; margin:0 auto!important; float:none!important; padding:0;}


.missionimgclass .frame{ display:block!important; margin:0 auto!important; float:none!important; padding:0;}
#block-block-9{ width:100%; float:none;}
.missionimgclass .frame img{ display:block!important; margin:0 auto!important; float:none!important; padding:0; max-width:100%;}
}

@media screen and (max-width:600px) {
.pagefooter .footerformgroup{ width: 90%!important; float: none!important; }


.bannerbottomwrapper .bannerbottom_teaxt2 h3 { font-size:26px;}

.pagefooter .footerformgroup .form-group1{ width:100%; float: none; margin: 0 0px 6px 0 }


.pagefooter .footerformgroup .form-group2{ width:100%;  margin: 0 0px 5px 0px }


}